img{
    height: 50px;
    width: 50px;
}
td{
    text-align: center;
}
#cutoff{
    border-bottom: 5px solid darkgray;
}
table{
    border-collapse: collapse;
}
.specwidth{
    width: 5em;
}

.team{
    text-align: left;
}