nav a:nth-child(6){
    background-image: url(../Images/golfball.png);
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
main{
    background-color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 45px;
}
table{
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 45px;
    border-spacing: 0px;
}
td{
    border: 1px solid black;
    width: 10em;
    text-align: center;
    height: 2em;
}
@media (max-width: 850px){
    nav a:nth-child(6){
        background-image: none;
        color: green;
    }
}

